<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Baseerat Shabir. It uses data from weatherbit.io</p>
    </div>
</body>

{{>footer}}
</html>